.timeContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.clock {
  font-size: 10vw;
  background-image: linear-gradient(45deg, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 1rem #FEFFFF;
  animation: glow 3s linear 0s infinite;
}

.date {
  font-size: 5vw;
  background-image: linear-gradient(45deg, #dd78b4, #FEFFFF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 1rem #FEFFFF;
  animation: glow 3s linear 0s infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1rem #FEFFFF;
  }
  50% {
    text-shadow: 0 0 1rem #bdb4f8;
  }
  100% {
    text-shadow: 0 0 1rem #FEFFFF;
  }
}

.sky {
  width: 100vw;
  height: 100vh;
}

.axis {
  width: 10vmax;
  height: 10vmax;
  background-color: #FEFFFF;
  border-radius: 50%;
  position: fixed;
  z-index: 0;
  top: 80vh;
  left: 43vw;
  box-shadow: 0 0 5rem 5rem #FEFFFF;
  transition-duration: 1s;
}
