.star {
    width: 0.05vmin;
    height: 0.05vmin;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0.05vmin 0.05vmin white;
    animation: spark 1s linear 0s infinite;
    position: absolute;
    top: 50vh;
    left: 50vw;
    opacity: 0.1;
}

@keyframes spark {
    0% {
        box-shadow: 0 0 0.1vmin 0.1vmin white;
    }

    1%,
    30% {
        box-shadow: 0 0 0.05vmin 0.05vmin white;
    }

    31%,
    40% {
        box-shadow: 0 0 0.1vmin 0.1vmin white;
    }

    41%,
    70% {
        box-shadow: 0 0 0.05vmin 0.05vmin white;
    }

    71%,
    80% {
        box-shadow: 0 0 0.1vmin 0.1vmin white;
    }

    81%,
    90% {
        box-shadow: 0 0 0.05vmin 0.05vmin white;
    }

    91%,
    100% {
        box-shadow: 0 0 0.1vmin 0.1vmin white;
    }
}

.fallingStarContainer div {
    position: fixed;
    top: var(--top);
    left: var(--left);
    opacity: 0;
    width: 0.05vmin;
    height: 0.05vmin;
    background: #fff;
    border-radius: 50%;
}

.fallingStarContainer div::before {
    content: "";
    position: fixed;
    transform: translateY(-50%);
    width: 15vmax;
    height: 0.05rem;
    background: linear-gradient(90deg, #fff, transparent);
}